# File website (tidak perlu ikut di npm)
index.html
demo.html
sitemap.xml
robots.txt
og-image.png

# Source (sudah dikompilasi ke dist/)
icons.js
build.js

# Git
.git
.gitignore

# Dev files
node_modules/
*.log
